[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
idun-guardian-client = "==0.2b4"
pycryptodome = "*"

[dev-packages]

[requires]
python_version = "3.10"
